/* Variables */

$windows-gray: #bdbebd;
$windows-blue: #000084;
$windows-cyan: #1084d0;
$windows-selector: #2C2C8E;

$border-light: 2px solid white;
$border-medium: 2px solid gray;
$border-dark: 2px solid black;

/* Main */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  /*display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  position: relative;*/

  overflow: hidden;
  user-select: none;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-size: 2.5px 2.5px, 2.5px 2.5px;
  background-position: -1px -1px, -1px -1px;
  background-image:
    linear-gradient(rgba(255, 255, 255, .05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .05) 1px, transparent 1px);
  mix-blend-mode: difference;
  z-index: 10000;
  pointer-events: none !important;
}

.glitch{
  clip-path: polygon(0 0, 100% 0, 100% .5em, 0 .5em);
  animation: glitch 10s linear infinite;
  transform: translatex(.1rem);
}

@keyframes glitch {
  to {
    clip-path: polygon(0 calc(100% - .5em), 100% calc(100% - .5em), 0 100%, 0 100%);
  }
}

/* Splash Screen */

#splash {
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 9000;
  font-size: 12px;
}

/*#splashtext {

}*/

/* Desktop */

#desktop {
  width: 100vw;
  height: 100vh;
  background: url('../assets/backgrounds/sakuratree.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: fixed; 
  z-index: -999;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.icons {
  float: left;
  width: 90px;
  height: 70px;
  margin-top: 15px;
  margin-left: 5px;
  text-align: center;
  font-size: 12px;
  color: white;
  text-shadow: black 1px 1px 1px;
  cursor: help;
  &.name {
    border: 1px solid transparent;
    padding: 1px;
  }
  &.focus .name {
    background: $windows-blue;
  }
  &.border .name {
    border: 1px dotted white;
  }
  & img {
    width: 40px;
  }
  &:hover {
    color: plum;
  }
}

#selection {
  position: absolute;
  border: 1px dotted white;
  background: $windows-selector;
  opacity: 0.6;
}

/* Start Bar */

#dock {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 38px;
  background-color: $windows-gray;
  border-top: $border-light;
  padding: 3px;
}

#dock-time {
  float: right;
  padding: 5px 15px 5px 35px;
  font-size: 14px;
  border-top: $border-medium;
  border-left: $border-medium;
  border-bottom: $border-light;
  border-right: $border-light;
  background: url('../assets/icons/loudspeaker_muted.ico');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px center;
  cursor: text;
}

#startbutton {
  float: left;
  text-decoration: none;
  color: black;
  width: 70px;
  height: 29px;
  font-size: 14px;
  text-align: right;
  padding: 4px;
  background-image: url('../assets/icons/windows.ico');
  background-size: auto 90%;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-off {
  border-top: $border-light;
  border-left: $border-light;
  border-right: $border-dark;
  border-bottom: $border-dark;
}

.button-on {
  border-top: $border-dark;
  border-left: $border-dark;
  border-right: $border-light;
  border-bottom: $border-light;
}

/* Start Menu */

#startmenu {
  position: absolute;
  bottom: 38px;
  left: 0;
  background-color: $windows-gray;
  z-index: 10;
  border-left: $border-light;
  border-top: $border-light;
  border-right: $border-medium;
  border-bottom: $border-medium;
  display: none;
  &.open {
    display: block;
  }
}

#sidebar {
  width: 25px;
  height: 100%;
  background: linear-gradient(to bottom, $windows-blue, $windows-cyan);
  display: inline-block;
  bottom: 0;
  left: 0;
  position: absolute;
}

#headline {
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  width: 150%;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 0px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  margin-bottom: -15px;
}

.item {
  list-style: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 70px;
  font-size: 12px;
  margin-left: 25px;
  background-size: auto 80%;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  &:hover {
    background-color: $windows-blue;
    color: white;
  }
}

.more {
  position: relative; 
  list-style: none;
  &:after {
    content: "►";
    left: 65px;
    position: relative;
    float: right;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
}

.more:hover .dropdown-content {
  display: block;
  top: -2px;
  left: 100%;
  background-color: $windows-gray;
  color: black;
  list-style: none;
  border-left: $border-light;
  border-top: $border-light;
  border-right: $border-medium;
  border-bottom: $border-medium;
  box-sizing: border-box;
  min-width: 100%;
}

.dropdown-item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 40px;
  padding-right: 10px;
  font-size: 13px;
  background-size: auto 70%;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  white-space:nowrap;
  &:hover {
    color: white;
    background-color: $windows-blue;
  }
}

/* Window */

.window {
  width: 800px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: 5px;
  background-color: $windows-gray;
  border-left: 1px solid white;
  border-bottom: 1px solid black;
  border-top: 1px solid white;
  border-right: 1px solid black;
  box-shadow: 2px 2px 10px 0px solid black;
  display: block;
}

.window-inner {
  border: 2px solid $windows-gray;
  height: 100%;
}

.window-header {
  background: linear-gradient(to right, $windows-blue, $windows-cyan);
  font-size: 14px;
  overflow: auto;
}

.window-header p {
  color: white;
  display: inline;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 105px);
  padding-top: 3px;
  padding-left: 3px;
}

.window-icon {
  width: 20px;
  height: 20px;
  background-color: $windows-gray;
  float: right;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.minimise {
  background-image: url('../assets/icons/minimise.png');
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.maximise {
  background-image: url('../assets/icons/maximise.png');
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.close {
  background-image: url('../assets/icons/close.png');
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.window-content {
  margin-top: 2px;
  border: 2px solid grey;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  height: calc(100% - 28px);
}

.program {
  float: left;
  display: block;
  margin-left: 5px;
  width: 200px;
  height: 29px;
  text-align: left;
  padding: 4px;
  padding-left: 30px;
  background-color: $windows-gray;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  background-size: auto 70%;
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

.window-header-icon {
  height: 20px; 
  margin-left: 3px;
  margin-top: 3px;
  display: inline-block; 
}
